<div class="mx-5">
    <div class="row d-flex justify-content-between">
        <button class="btn btn-danger" type="button"
                (click)="goBack()"><i class="fas fa-arrow-left"></i> Go Back
        </button>
        <button class="btn btn-success ml-5" type="button"> Welcome back, {{ currentUser()?.username }} !
        </button>
    </div>

    <div class="row mt-3 mx-5">
        <div class="col-md-3 d-flex flex-column align-items-center px-2 list">
            <h4 class="logo pb-1">{{ title() }}</h4>
            <div class="border content" style="overflow-y: scroll">
                <app-hall-of-fame [hallFame]="hallFame()" (order)="getOrder()"></app-hall-of-fame>
            </div>
        </div>
        <div class="col-md-2 d-flex flex-column align-items-center px-2 stats">
            <h4 class="logo pb-1">STATS</h4>
            <div class="border content">
                <app-panel [panel]="panel()"></app-panel>
            </div>
        </div>
        <div class="col-md-4 d-flex flex-column align-items-center px-2 game">
            <h4 class="logo pb-1">GAME</h4>
            <div class="content">
                <app-tetris
                        [hallFame]="hallFame()"
                        [panel]="panel()"
                        [currentUser]="currentUser()"
                        (panelData)="getPanel($event)"
                        (scoreData)="getScores($event)"
                        (gameOverScore)="getGameOverScore($event)">
                </app-tetris>
            </div>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center px-2 list">
            <h4 class="logo pb-1">HISTORY</h4>
            <div class="border content" style="overflow-y: scroll">
                <app-list [panel]="panel()"></app-list>
            </div>
        </div>
    </div>
</div>

