<mat-grid-list cols="17" rowHeight="62px">
  <mat-grid-tile colspan="11" rowspan="8" class="ml-0">
    @if (gameType() === 'tetris') {
    <tetris-core
      (lineCleared)="onLineCleared()"
      (gameOver)="onGameOver()"
      (carOvertaken)="grantPoints()"
      [class.black-and-white]="blackAndWhiteSignal() === 'blackAndWhite'"
      tileSize="20px"
    ></tetris-core>
    } @else if (gameType() === 'race') {
    <ngx-race
      (carOvertaken)="grantPoints()"
      (gameOver)="onGameOver()"
      [boardWidth]="12"
      [boardHeight]="17"
      [class.black-and-white]="blackAndWhiteSignal() === 'blackAndWhite'"
    ></ngx-race>
    } @else {
    <ngx-snake
      (gameOver)="onGameOver()"
      (foodEaten)="onGrow()"
      [class.black-and-white]="blackAndWhiteSignal() === 'blackAndWhite'"
    ></ngx-snake>
    }
  </mat-grid-tile>
  <mat-grid-tile colspan="6" rowspan="1"></mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1">
    <button
      class="btn-block"
      mat-fab
      color="primary"
      [disabled]="this.gameStatus() === GameStatus.STARTED"
      (click)="start()"
    >
      <mat-icon>play_circle_outline</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1">
    <button
      class="btn-block"
      mat-fab
      color="warn"
      [disabled]="
        this.gameStatus() === GameStatus.PAUSED ||
        this.gameStatus() === GameStatus.READY
      "
      (click)="stop()"
    >
      <mat-icon>pause_circle_outline</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1">
    <button
      class="btn-block"
      mat-fab
      color="accent"
      [disabled]="this.gameStatus() === GameStatus.READY"
      (click)="reset()"
    >
      <mat-icon>replay</mat-icon>
    </button>
  </mat-grid-tile>
  @if (blackAndWhiteSignal() === 'blackAndWhite') {
  <mat-grid-tile colspan="6" rowspan="1">
    <button mat-fab class="btn-block" (click)="changeTheme('color')">
      <mat-icon>invert_colors_off</mat-icon>
    </button>
  </mat-grid-tile>
  } @else {
  <mat-grid-tile colspan="6" rowspan="1">
    <button
      mat-fab
      color="primary"
      class="btn-block"
      (click)="changeTheme('blackAndWhite')"
    >
      <mat-icon>invert_colors</mat-icon>
    </button>
  </mat-grid-tile>
  }
  <mat-grid-tile colspan="6" rowspan="1"></mat-grid-tile>
  @if (gameType() !== 'tetris') {
  <mat-grid-tile colspan="6" rowspan="1"
    ><button
      mat-fab
      (click)="up()"
      style="cursor: pointer; background-color: #28a745"
    >
      <mat-icon>arrow_upward</mat-icon>
    </button></mat-grid-tile
  >
  }
  <mat-grid-tile colspan="2" rowspan="1"
    ><button
      mat-fab
      (click)="left()"
      style="cursor: pointer; background-color: #28a745"
    >
      <mat-icon>arrow_back</mat-icon>
    </button></mat-grid-tile
  >
  <mat-grid-tile colspan="2" rowspan="1">
    @if (gameType() === 'tetris') {
    <button mat-fab (click)="up()" style="cursor: pointer" color="accent">
      <mat-icon>loop</mat-icon>
    </button>
    }
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1"
    ><button
      mat-fab
      (click)="right()"
      style="cursor: pointer; background-color: #28a745"
    >
      <mat-icon>arrow_forward</mat-icon>
    </button></mat-grid-tile
  >
  <mat-grid-tile colspan="6" rowspan="1"
    ><button
      mat-fab
      (click)="down()"
      style="cursor: pointer; background-color: #28a745"
    >
      <mat-icon>arrow_downward</mat-icon>
    </button></mat-grid-tile
  >
  @if (gameType() === 'tetris') {
  <mat-grid-tile colspan="6" rowspan="1"
    ><button
      mat-fab
      (click)="drop()"
      style="cursor: pointer; background-color: #17a2b8"
    >
      <mat-icon>arrow_drop_down_circle</mat-icon>
    </button></mat-grid-tile
  >
  }
</mat-grid-list>
