<div
  class="nav d-flex flex-column flex-md-row align-items-center justify-content-between mb-3 bg-white border-bottom shadow-sm">
  <h3 class="logo">Tetris Game</h3>
  <div class="d-flex align-items-center">
    <!-- Dropdown -->
    <div class="dropdown" *ngIf="user">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Welcome back, {{ user.username }} !
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="exit()"><i class="fas fa-sign-out-alt"></i> Exit Game</a>
      </div>
    </div>
    <!-- Dropdown -->
  </div>
</div>

