<h3 style="color: #0cabba">Welcome</h3>
<hr />
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="mb-3 form-group">
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control"
      id="email"
      formControlName="email"
      [ngClass]="{ 'is-invalid': f['email'].touched && !emailValid }"
    />
    <div class="invalid-feedback">
      @if (f['email'].touched && !emailRequiredValid) {
      <span class="text-danger">Email is required</span>
      } @if (emailRequiredValid) {
      <div>
        <div
          [ngClass]="{
            'text-success': requiresEmailValid,
            'text-danger': !requiresEmailValid
          }"
        >
          Must be a valid email address
        </div>
      </div>
      }
    </div>
  </div>

  <div class="mb-2">
    <div class="form-group">
      <label for="password">Password</label>
      <div class="input-group">
        <input
          [type]="type()"
          class="form-control"
          id="password"
          name="password"
          formControlName="password"
          [ngClass]="{ 'is-invalid': f['password'].touched && !passwordValid }"
        />
        <div class="input-group-append">
          <span class="input-group-text">
            <span
              (click)="hideShowPass()"
              class="fa"
              [ngClass]="{ 'fa-eye': isText(), 'fa-eye-slash': !isText() }"
            >
            </span>
          </span>
        </div>
        <div class="invalid-feedback">
          @if (f['password'].touched && !passwordRequiredValid) {
          <span class="text-danger">Password is required</span>
          }
        </div>
      </div>
    </div>
  </div>

  <hr class="mb-4" />
  <button
    class="btn btn-lg btn-block"
    [disabled]="!loginForm.valid"
    type="submit"
    style="background-color: #0cabba; color: aliceblue; font-size: 24px"
  >
    Start Game
  </button>
  <div class="text-center mt-1" style="font-size: 20px">
    <p class="small mt-2 pt-1 mb-0" style="font-weight: bold">
      Don't have an account?
      <a (click)="register.emit()" style="color: #dc4c64; cursor: pointer"
        >Register</a
      >
    </p>
  </div>
</form>
