:host {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  // margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.color {
  color: green; /* or whatever color you want when the toggle is on */
}

.black-and-white {
  color: red; /* or whatever color you want when the toggle is off */
}
