<div class="mat-elevation-z8">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3 [ngClass]="toggleChecked ? 'color' : 'black-and-white'">Login</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="w-100 my-2">
          <mat-label>Username</mat-label>
          <input
            type="text"
            id="username"
            formControlName="username"
            matInput
            [ngClass]="{ 'is-invalid': f['username'].dirty && !usernameValid }"
          />
          <mat-error>{{ checkForErrorsIn("username") }}</mat-error>
        </mat-form-field>
        <mat-form-field
          style="width: 100%"
          appearance="outline"
          class="w-100 my-2"
        >
          <mat-label>Id</mat-label>
          <input
            id="id"
            name="id"
            formControlName="id"
            [type]="id ? 'text' : 'password'"
            matInput
            placeholder="Id"
            [ngClass]="{ 'is-invalid': f['id'].dirty && !idValid }"
          />
          <mat-icon matSuffix (click)="toggleIdVisibility()">{{
            id ? "visibility_off" : "visibility"
          }}</mat-icon>
          <mat-error>{{ checkForErrorsIn("id") }}</mat-error>
        </mat-form-field>
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="w-100 my-2"
        >
          <mat-label>Choose a game</mat-label>
          <input matInput style="display: none" required />
          <mat-radio-group
            formControlName="game"
            name="game"
            class="d-flex justify-content-center"
          >
            <mat-radio-button value="tetris" color="accent">
              <span>Tetris</span>
            </mat-radio-button>
            <mat-radio-button value="snake" color="primary" class="mx-5">
              <span>Snake</span>
            </mat-radio-button>
            <mat-radio-button value="race" color="warn">
              <span>Race</span>
            </mat-radio-button>
          </mat-radio-group>

          <mat-error></mat-error>
        </mat-form-field>

        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="w-100 my-2"
        >
          <mat-label>Choose a theme</mat-label>
          <input matInput style="display: none" required />
          <mat-slide-toggle
            #slide
            formControlName="color"
            class="example-margin d-flex justify-content-center"
            (change)="onToggleChange($event.checked)"
          >
            {{ slide.checked ? "COLOR" : "BLACK AND WHITE" }}
          </mat-slide-toggle>
        </mat-form-field>
        <div class="button">
          <button
            mat-fab
            extended
            type="submit"
            color="primary"
            class="w-100 my-2"
            [disabled]="loginForm.invalid"
          >
            Login<mat-icon iconPositionEnd>login</mat-icon>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
