.main {
  width: 90%;
  margin: auto;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.content {
  padding: 1.5%;
  height: 590px;
  width: 100%
}

.game {
  min-width: 450px;
}

.list {
  min-width: 300px;
}

.stats {
  width: 150px;
}
