<table mat-table [dataSource]="datasource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef  (click)="changeOrder()"
      >
       Score @if (this.sort() === 'asc') {
         <mat-icon class="pt-2">expand_more</mat-icon>
        } @else {
          <mat-icon class="pt-2">expand_less</mat-icon>
        } </th>
        <td mat-cell *matCellDef="let element"> {{element.score}} </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell pl-3 pt-3" [attr.colspan]="displayedColumns.length">
          No records found.
        </td>
      </tr>
    </table>
 <mat-paginator pageSize="5" hidePageSize="true"></mat-paginator>


