<div  style="overflow: hidden">
  <button type="button"
          (click)="printHistory()"
          class="btn btn-md btn-success ml-auto">
    Save History <i class='fas fa-print' style='font-size:24px'></i></button>

<table class="table table-hover table-striped" id="history">
  <thead>
  <tr>
    <th scope="col">Timestamp</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of data">

    <th>{{ item.timestamp | date:'mediumTime' }}</th>
    <th>{{ item.actionName }}</th>
  </tr>
  </tbody>
</table>

</div>
