<div>
  <input type="text" name="term" [(ngModel)]="term" class="form-control" placeholder="Filter by action..."/>
  <table class="table table-hover table-striped">
    <thead>
    <tr>
      <th scope="col" (click)="changeOrder()">
        Timestamp <i [class]="'fa fa-sort-' + (reverse ? 'asc' : 'desc')"
                     aria-hidden="true"></i>
      </th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of panel.tableData | filter:term | sort:reverse:'timestamp'">
      <th>{{ item.timestamp | date:'mediumTime' }}</th>
      <th>{{ item.actionName }}</th>
    </tr>
    </tbody>
  </table>
</div>
