<div
  class="d-flex flex-row justify-content-start flex-column align-items-center mt-3"
>
  <div class="text-muted">GAME STATUS</div>
  <div
    class="alert status"
    role="alert"
    [ngClass]="{
      'alert-primary': this.panel()?.gameStatus === GameStatus.READY,
      'alert-success': this.panel()?.gameStatus === GameStatus.STARTED,
      'alert-danger': this.panel()?.gameStatus === GameStatus.PAUSED
    }"
  >
    {{ panel()?.gameStatus }}
  </div>

  <br />
  <div>POINTS</div>
  <div class="info">
    <strong>{{ panel()?.points }}</strong>
  </div>
  <br />
  <div>TIME</div>
  <div class="info">{{ panel()?.display }}</div>
  
  <div class="mt-5 pt-4">BEST SCORE</div>
  <div class="info">
    <strong>{{ panel()?.bestScore }}</strong>
  </div>
</div>
